*, 
*::before, 
*::after {
    box-sizing: border-box;
}

input {
    background-color: #ffffff;
    border: 1px solid #899492;
    border-radius: 8px;
    color: #4C5C59;
    font-size: 14px;
    padding: 12px;
}

input::placeholder {
    color: #899492;
    font-size: 14px;
}

.button {
    cursor: pointer;
    padding: 12px 18px;
    color: #ffffff;
    font-size: 16px;
    background-color: #013C3B;
    border-radius: 8px;
    border: 1px solid transparent;

}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.app {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "topbar sidebar"
    "main sidebar";
    height: 100vh;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: topbar;
    padding: 16.5px 32px;
}

.topbar__actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

main {
    grid-area: main;
    background-color: #E8F0EF;
    padding: 36px 32px;
}

.main__title {
    font-size: 24px;
    color: #051513;
    font-weight: bold;
    margin-bottom: 24px;
}

.bookmarks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.bookmark {
    border-radius: 10px;
    background-color: #ffffff;
}

.bookmark__header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 16px;
    margin: 0 16px;
    border-bottom: 1px solid #DDE9E7;
}

.bookmark__content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 12px;
}

.bookmark__logo {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #E8F0EF;
}

.bookmark__title {
    font-size: 20px;
    color: #051513;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 4px;
}

.bookmark__link {
    font-size: 12px;
    color: #4C5C59;
}

.bookmark__body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    align-items: start;
    border-bottom: 1px solid #DDE9E7;
}

.bookmark__desc {
    font-size: 14px;
    color: #4C5C59;
    line-height: 1.5;
}

.bookmark__tagslist {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}

.bookmark__tag {
    padding: 4px 8px;
    background-color: #E8F0EF;
    color: #4C5C59;
    font-size: 12px;
    border-radius: 4px;
}

.bookmark__footer-list {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 16px;
    padding: 12px 16px;
}

.bookmark__footer-item {
    display: flex;
    align-items: start;
    gap: 6px;
    color: #4C5C59;
    font-size: 12px;
}

.sidebar {
    grid-area: sidebar;
}

.sidebar__header-title {
    font-size: 20px;
    color: #051513;
    font-weight: bold;
    margin: 26px 0 16px 60px;
}
